* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 1px solid red;
}

html {
  font-size: 16px; /* 1rem = 16px */
}

:root {
  --color1: #00c6ff;
  --color2: #0072ff;
  --colorWhite: #ffffff;
  --colorBlack: #000000;
  --colorGray: #959595;
}

body {
  background-color: var(--colorBlack);
  /* This is the base font setup for the entire website, unless it's specified in a specific section: */
  font-family: "Inter", sans-serif; 
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--colorWhite);
}

/* All links in white color, unless is specified */
a {
  color: var(--colorWhite);
}

/* ----------- MENU ---------- */
.navbar {
  background-color: var(--colorBlack);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.nav-links a:hover {
  border-bottom: 2px solid var(--color1);   /* Underline color on hover */
}

.nameMenuLink {
  text-decoration: none;
  font-weight: 800;
  font-size: 1.8rem;
}

.hamburguer-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hamburguer-button svg {
  width: 40px;
  fill: var(--colorWhite); 
}

/* Hide by default in mobile first */
.nav-links {
  display: none;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
}

/* Gradient for text */
/* A gradient applied to text requires more code than a gradient applied to a simple background. */
.gradientText {
  background-image: linear-gradient(to bottom right, var(--color1), var(--color2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Optional, but better to have: */
  background-clip: text;
  color: transparent;
}

.gradientBackground {
  background: linear-gradient(90deg, var(--color1), var(--color2));
}

/* === NAVBAR AND FOOTER HEIGHT === */
.navbar {
  height: 9vh;
}

footer {
  height: 9vh;
}

/* === SECTION HEIGHTS === */

/* Sections with reserved space for navbar (91vh) */
#home,
#contact {
  height: 91vh;
}

/* Full-height sections (100vh) */
#about,
#projects,
#skills {
  height: 100vh;
}

/* === SCROLL FIX FOR #home ONLY === */
#home {
  scroll-margin-top: 9vh;
}

/* Home section */

svg {
  width: 50px;
}

#home {
  padding: 20px 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.homeMessage {
  font-size: 2rem;
  font-weight: 600;
} 

.btnResume {
  color: var(--colorWhite);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.myPhotoHome {
  width: 220px;
}

/* Grid layout: */

.homeMessageArea {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.homeResumeBtnArea {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.homeContactIconsArea {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.homeMyPhotoArea {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* PROJECTS SECTION */

.projectsSimulation {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 10px;
}

/* SKILLS SECTION */
.skillsIcons {
  width: 50px;
}

/* FORM */
.contactForm {
  display: flex;
  flex-direction: column;
  padding: 0 50px;   /* Add side spacing to prevent form from touching page edges: */
  margin: 0 auto;   /* To center: */
  max-width: 600px; /* To limit the size:*/
  gap: 1rem; /* Space between form elements */;
}

.contactForm label {
  font-weight: 600;
/* Label text color is inherited from the body */
}
.btnSubmit {
  color: var(--colorWhite);
}

.contactForm input,
.contactForm textarea {
  color: var(--colorWhite);
  background-color: var(--colorBlack); /* Background color for inputs */
  border: 1px solid var(--colorGray); /* Border has the same thickness as in the focus state, but with a different color to keep consistency */
  border-radius: 10px; /* Rounded corners for inputs */
  padding: 1rem; /* Padding inside the input */
  gap: 1rem; /* Space between inputs */
  border: 1px solid var(--colorWhite);/* In light mode it is more clear the difference of the border*/
  font-family: inherit; 
  /* The writen text will be in the same font as the rest of the page */
  font-size: 1rem;/* Size for the writen text when the user inputs something in the form */
  /* No need to set width: 100% here because the container uses display: flex, and the inputs automatically expand to the available width. */
}

.contactForm .btnSubmit {
  padding: 0.75rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
  font-size: 1.5rem;
}

.contactForm button:hover,
.homeResumeBtnArea .btnResume:hover {
  background: linear-gradient(90deg, var(--color2), var(--color1));
}

.contactForm input:focus,
.contactForm textarea:focus {
  border: 1px solid var(--color1); /* Border mantains same thickness and only chages the color */
  outline: none; /* Remove the default browser outline to avoid the focus size increase */
}

/* FOOTER */




/* From 768px and up: show full menu and hide hamburger button */
@media (min-width: 768px) {
  .myPhotoHome {
  width: 400px;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .hamburguer-button {
    display: none;
  }

/* From 768px and up: different layour for home section */

  .homeMessageArea {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  }

  .homeMyPhotoArea {
  grid-column: 3 / 5;
  grid-row: 1 / 4;
  }

  .homeResumeBtnArea {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  }

  .homeContactIconsArea {
  flex-direction: row;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  }

}
